{%extends "base.html"%}
{%block main%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <div class = "singleprop"><div>
    <img src = "{{url_for('getimages',filename = property.photo)}}">
 </div>
 <div class = "info">
    <p class = "title">{{property.title}}</p>
    <div class = "two">
        <p class="price">{{property.price}}</p>
        <p class = "type">{{property.ptype}}</p>
    </div>
    <p class = "description">{{property.description}}</p>
    <div class = "two">
        <p class="rooms" ><i class="fa fa-bed"></i>{{property.rooms}}</p>
        <p class = "bathrooms"><i class="fa fa-bath"></i>{{property.bathrooms}}</p>
    </div>
    <p class = "location"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="IconChangeColor" height="18" width="18"><path d="M18,4.48a8.45,8.45,0,0,0-12,12l5.27,5.28a1,1,0,0,0,1.42,0L18,16.43A8.45,8.45,0,0,0,18,4.48ZM16.57,15,12,19.59,7.43,15a6.46,6.46,0,1,1,9.14,0ZM9,7.41a4.32,4.32,0,0,0,0,6.1,4.31,4.31,0,0,0,7.36-3,4.24,4.24,0,0,0-1.26-3.05A4.3,4.3,0,0,0,9,7.41Zm4.69,4.68a2.33,2.33,0,1,1,.67-1.63A2.33,2.33,0,0,1,13.64,12.09Z" id="mainIconPathAttribute"></path></svg>
        {{property.location}}</p>
    <button type="submit" name="submit" class="sendbutton">Email Realtor</button>
 </div>
 
 

</div>
 
 
{%endblock%}